html, body {
    margin: 0;
    box-sizing: border-box;
    background: #f6f8f9;
    font-family: Aril, Tahoma, sans-serif;
    color: #44525e;
}

p {
    margin: 0;
}

h1 {

}

h3 {
    margin: 20px 0;
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
}

h3 span {
    color: #ff7013;
}

.section-description {
    text-align: center;
}

.container {
    width: 1200px;
    margin:10px auto;
}

.goods-block {
    margin: 80px 0;
}

.goods-cart {
    width: 250px;
    height: 365px;
    margin: 0 15px 0 15px;
    background: #fff;
    float:left;
    text-align: center;
    font-size: 18px;
}

.goods-cart img {
    margin-top: 30px;
}

.goods-cart .goods-name {
    color: #43525d;
}

.goods-cart .cost {
    color: #ff7013;
}