html, body {
    font-size: 16px;
}

form {
  border: 1px solid #333;
}

form div {
  width: 400px;
  margin: 20px;
}

form div::after {
  clear: both;
  content: '';
  display: block;
}

form div label {
  width: 50%;
  display: inline-block;
  float: left;
  text-align: right;
  padding-right: 20px
}

form div input, form div textarea {
  width: 50%;
  float: left;
}

form div input[type='checkbox'], form div input[type="radio"]{
  width: auto;
  position: relative;
  top: 2px;
}