/* CSS Display Property Tutorial
https://youtu.be/xcTEDlgkD7o */

span {
	font-weight: bold;
	color: orange;
	background-color: yellow;
/* 	display: inline-block;
	text-align: center;
	padding: 5px;
	margin-bottom: 100px; */
}

main div {
	background-color: #81b3e6;
	width: 60%;
	padding: 30px;
	font-size: 212%;
	color: #FFF;
	display: block;
}

main div p {
	margin: 0;
}

img {
	max-width: 200px;
	height: auto;
}

main {
	display: block;
	margin-bottom: 30px;
	border: solid 5px blue;
}

/* ================================================= */
div a {
	display: block;
	padding: 20px;
	border: 2px solid green;
	margin: 5px;
}


/* .post-footer ol li {
	display: block;
} */

/* ====================================================== */
li {
	list-style: ;
	display: inline;
	margin: 1rem;
}

/* =====================================================
https://matthewlein.com/tools/ceaser */
.square {
	width: 80px;
	height: 80px;
	margin: 30px auto;
	background-color: #8BC34A;
	

	animation-name: spin;

	animation-duration: 5s;

	/* Функция прохождения анимации - скорость и время */
	animation-timing-function: ease;

	animation-delay: 1s;

	animation-iteration-count: infinite;

	animation-direction: alternate;

	animation: spin 2s ease-in-out 1s infinite alternate;
}

.square2 {
	animation: spin 2s cubic-bezier(0.820, 0, 0.000, 1) 1s infinite alternate;
}
.square2:hover {
	animation-play-state: paused;
}

@keyframes spin {

	0% {
		transform: rotate(0deg);
	}
	
	25%, 50% {
		background-color: #ffeb3b;
	}
	
	100% {
		transform: rotate(360deg);
	}

}