body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

// .wrapper {
// 	margin: 0 auto;
// 	width: 100%;
// 	word-wrap: break-word;
// 	display: flex;
// 	min-height: 100%;
// 	overflow: hidden;
// 	flex-direction: column;
// }

// .container{
// 	max-width: 1200px;
// 	margin: 0px auto;
// 	padding: 0px 15px;
// }

// @media (max-width:1200px){
// 	.container{
// 		min-width: 970px;
// 	}
// }
// @media (max-width:992px){
// 	.container{
// 		min-width: 750px;
// 	}
// }
// @media (max-width:767px){
// 	.container{
// 		min-width: none;
// 	}
// }

a[target="_blank"] {
	background-color: #FFFF99;

	&:after {
		content: url(/images/target3.png);
		width: 40px;
	}
}

.item {
	img {
		max-width: 100%;
	}

	font-size: 1.5rem;
}

@media (min-width:767px) {
	.item>div {
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-around;
		flex-wrap: wrap;
		align-items: flex-start;

		ol,
		ul {
			font-size: 2rem;
			width: 45%;
		}

		>img {
			width: 45%;
		}
	}
}



// .item {
// 	>h2 {

// 		>a {
// 			width: 100%;
// 			text-align: center;
// 			display: block;
// 			margin: 0px auto;
// 		}
// 	}
// 	margin-bottom: 10%;
// 	word-wrap: break-word;

// >div {
// 	display: flex;
// 	flex-direction: row-reverse;
// 	justify-content: space-around;
// 	flex-wrap: wrap;
// 	align-items: flex-start;

// 	ol,
// 	ul {
// 		font-size: 2em;
// 		width: 45%;
// 	}

// 	>img {
// 		width: 45%;
// 	}
// }
// }