body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  word-wrap: break-word;
}

a[target="_blank"] {
  background-color: #ffff99;

  &:after {
    content: url(/images/target3.png);
    width: 40px;
  }
}

.item {
  img {
    max-width: 100%;
  }

  font-size: 1.5rem;
}

@media (min-width: 767px) {
  .item > div {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-start;

    ol,
    ul {
      font-size: 2rem;
      width: 45%;
    }

    > .img {
      width: 45%;
    }
  }
}


// Развернуть/Свернуть список ссылок на js?
// https://jsfiddle.net/sasaha2015/me8y97u0/5/
// https://qna.habr.com/q/590846
.crossing li:nth-child(n + 5),
.crossing li:nth-child(n + 5) {
  display: none;
}

.crossing.expand li:nth-child(n + 5),
.crossing.expand li:nth-child(n + 5) {
  display: list-item;
}

.crossing li.control,
.crossing li.control {
	color: aqua;
  display: list-item;
	cursor: pointer;
}
