.item {
	margin-bottom: 10%;
	word-wrap: break-word;
	>div {
		width: 100%;
		img {
			width: 100%;
		}
	}
}

@media (min-width: 321px) {
	.item {
		>div {
			display: flex;
			flex-direction: row-reverse;
			justify-content: space-around;
			flex-wrap: wrap;
			align-items: flex-start;
			width: 100%;
			ol, ul {
				font-size: 2em;
				width: 45%;
			}
		}
		>img {
			width: 49%;
		}
	}
}