body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  word-wrap: break-word;
}

.video {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

a[target="_blank"] {
  background-color: #ffff99;
}

a[target="_blank"]:after {
  content: url(/images/target3.png);
  width: 40px;
}

.item {
  font-size: 1.5rem;
}

.item img {
  max-width: 100%;
}

@media (min-width: 767px) {
  .item > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .item > div ol,
  .item > div ul {
    font-size: 2rem;
    width: 45%;
  }
  .item > div .img {
    width: 45%;
  }
}
