<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{title}}</title>
</head>

<body>
	{{> menu}}

	<h1>{{title}}</h1>
	<p>Электронный адрес: {{email}}</p>
	<p>Телефон: {{phone}}</p>

	{{> footer}}
</body>

</html>