<!DOCTYPE html>
<html>

<head>
	<title>Добавление пользователя</title>
	<meta charset="utf-8" />
	<style>
		.field {
			width: 180px;
		}
	</style>
</head>

<body>
	<h1>Добавление пользователя</h1>
	<form method="POST">
		<label>Имя</label><br>
		<input name="name" class="field" /><br><br>
		<label>Возраст</label><br>
		<input name="age" type="number" class="field" min="1" max="110" /><br><br>
		<input type="submit" value="Отправить" />
	</form>
	<a href="/">К списку пользователей</a>
</body>
<html>