<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{title}}</title>
</head>

<body>
	<h1>{{title}}</h1>
	{{#if emailsVisible}}
	<h3>Электронные адреса</h3>
	<ul>
		{{#each emails}}
		<li>{{this}}</li>
		{{/each}}
	</ul>
	{{/if}}

	<p>Телефон: {{phone}}</з>
</body>

</html>