body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  word-wrap: break-word;
}

a[target="_blank"] {
  background-color: #ffff99;
}

a[target="_blank"]:after {
  content: url(/images/target3.png);
  width: 40px;
}

.item {
  font-size: 1.5rem;
}

.item img {
  max-width: 100%;
}

@media (min-width: 767px) {
  .item > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .item > div ol,
  .item > div ul {
    font-size: 2rem;
    width: 45%;
  }
  .item > div > .img {
    width: 45%;
  }
}

.crossing li:nth-child(n + 5),
.crossing li:nth-child(n + 5) {
  display: none;
}

.crossing.expand li:nth-child(n + 5),
.crossing.expand li:nth-child(n + 5) {
  display: list-item;
}

.crossing li.control,
.crossing li.control {
  color: aqua;
  display: list-item;
  cursor: pointer;
}
