.item {
  margin-bottom: 10%;
  word-wrap: break-word;
}

.item > div {
  width: 100%;
}

.item > div img {
  width: 100%;
}

@media (min-width: 321px) {
  .item > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
  }
  .item > div ol, .item > div ul {
    font-size: 2em;
    width: 45%;
  }
  .item > img {
    width: 49%;
  }
}
