form {
    background-color: green;
    position: absolute;
    width: 150px;
    height: 150px;
    text-align: center;
    cursor: pointer;
}

div {
    background-color: rgb(255, 230, 2);
    position: absolute;
    top: 25px;
    left: 25px;
    width: 100px;
    height: 100px;
}



p {
    background-color: red;
    position: absolute;
    top: 35px;
    left: 35px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin: 0;
}

body {
    line-height: 25px;
    font-size: 16px;
}